<section id="projects" class="component-container bg-black">
  <div class="flex v-screen items-center justify-center bg-black">
    <div class="relative">
      <div
        class="back-drop absolute -inset-1 rounded-lg bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-75 blur"
      ></div>
      <div
        class="details-container relative rounded-lg bg-gradient-to-br from-blue-700 to-cyan-400 px-7 py-4 text-white"
      >
        <div class="current-projects-container">
          <span class="text-xl">Current Projects</span>

          <div class="projects-container">
            <div class="projects-list-container">
              <img class="angular-materials-icon" src="/assets/angular-material-logo.svg">
              <div class="project-list-text-container">
                <span class="text-lg underline">Angular Materials Examples</span>
                <span class="text-base">This examples project displays my skills with Angular Materials</span>
                <span class="text-base">There is no completion date for this project as I will keep adding to it.</span>
                <span class="text-base">Click <a (click)="openAngularMaterialsProject()" class="project-link text-yellow-300 underline hover:bg-white hover:text-blue-400">here</a> to view the deployed project</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
