.back-drop {
  margin: 20px 0 0 0;
  height: 460px;
}

.component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 490px;
  justify-content: space-evenly;
  width: 1065px;
}
