<section id="aboutMe" class="component-container bg-black">
  <div class="flex v-screen items-center justify-center bg-black">
    <div class="relative">
      <div
        class="back-drop absolute -inset-1 rounded-lg bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-75 blur"
      ></div>
      <div
        class="details-container relative rounded-lg bg-gradient-to-br from-blue-700 to-cyan-400 px-7 py-4 text-white"
      >
        <span class="text-4xl">About Me</span>
        <span class="text-xl">
          I'm a passionate web developer with over a year of hands-on experience
          in creating dynamic and user-friendly web applications. My primary
          focus has been on mastering Angular, TypeScript, HTML, and SCSS to
          build responsive and visually appealing single-page applications.
        </span>
        <span class="text-xl"
          >When I'm not coding, you can find me exploring new coding techniques,
          playing video games, or enjoying sports (GO BUCS!).</span
        >
        <span class="text-xl"
          >I'm driven by a desire to continuously improve my skills and deliver
          high-quality materials that make an impact. Let's connect and explore
          how I can contribute to your next exciting project!</span
        >
      </div>
    </div>
  </div>
</section>
