.stepper-container {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 275px;
  justify-content: space-between;
}

.href-links {
  text-decoration: none !important;
  color: white;
}
