<section id="skills" class="component-container bg-black">
    <div class="flex v-screen items-center justify-center bg-black">
        <div class="relative">
          <div
            class="back-drop absolute -inset-1 rounded-lg bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-75 blur"
          ></div>
          <div
            class="details-container relative rounded-lg bg-gradient-to-br from-blue-700 to-cyan-400 px-7 py-4 text-white"
          >
            <span class="text-4xl">Skill Set</span>
            <div class="skill-icons-container">
                <img src="/assets/Angular_Icon.png" style="height: 100px; width: 200px;">
                <img src="/assets/TypeScript_Icon.png" style="height: 100px; width: 100px;">
                <img src="/assets/HTML_Icon.png" style="height: 100px; width: 100px;">
                <img src="/assets/CSS_Icon.png" style="height: 100px; width: 100px;">
                <img src="/assets/Tailwind_Icon.png" style="height: 100px; width: 100px;">
            </div>
          </div>
        </div>
      </div>
</section>