.tool-bar {
  align-items: center;
  color: white;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.adjustments {
  height: 25px;
  margin: 15px 0 0 2px;
  width: 50px;
}

.bk_icon {
  height: 42px;
  margin-bottom: 2px;
}

.button {
  background-color: #291749;
  margin-right: 10px;
  width: 100px;
}

.links-button {
  width: 50px;
  min-width: none !important;
}

.links-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.resume {
  cursor: pointer;
}

.resume-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 185px;
}
