<section id="education" class="component-container bg-black">
    <div class="flex v-screen items-center justify-center bg-black">
        <div class="relative">
          <div
            class="back-drop absolute -inset-1 rounded-lg bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 opacity-75 blur"
          ></div>
          <div
            class="details-container relative rounded-lg bg-gradient-to-br from-blue-700 to-cyan-400 px-7 py-4 text-white"
          >
            <span class="text-4xl">Post-Secondary Education</span>
            <div class="text-xl education-list-container">
                <img src="/assets/TnTech_Icon.png" style="height: 75px; width: 75px;">
                <div class="education-list-text">
                    <span class="text-xl">University Name: Tennessee Technological University</span>
                    <span class="text-xl">Dates(To - From): 08/2019 - 05/2022</span>
                    <span class="text-xl">Degree Obtained: Bachelor of Science (BS) degree in Computer Science</span>
                </div>
            </div>
            <div class="text-xl education-list-container">
                <img src="/assets/VolState_Icon.png" style="height: 75px; width: 75px;">
                <div class="education-list-text">
                    <span class="text-xl">University Name: Volunteer State Community College</span>
                    <span class="text-xl">Dates(To - From): 08/2017 - 12/2020</span>
                    <span class="text-xl">Degree Obtained: Associate of Science (AS) degree in Mathematics & Science</span>
                </div>
            </div>
          </div>
        </div>
      </div>
</section>